---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: "https://github.com/codespell-project/codespell"
    rev: v2.1.0
    hooks:
      - id: codespell

  - repo: "https://github.com/pre-commit/mirrors-prettier"
    rev: v2.3.1
    hooks:
      - id: prettier
        files: \.(js|md)$

  - repo: local
    hooks:
      - id: zabbix-file
        name: zabbix file
        description: Check that the Zabbix import file are up to date
        entry: regenerate.js
        language: script
        pass_filenames: false
        always_run: true
